<div class="nds-topbar nds-content-wrapper" role="region" aria-label="Top bar utilities">
    <button class="nds-btn nds-menu-btn nds-digitalStamp-tab" role="button" aria-expanded="false"
        aria-controls="nds-digitalStamp">
        <img class="nds-flag" src="assets/icon/SAflag.min.svg" width="20" height="14"
            loading="lazy" alt="Logo of Saudi Arabia Flag">
        <span class="nds-digitalStamp-lg-text nds-truncate" id="big-screen-text">A government website registered with the Digital Government Authority.</span>
        <span class="nds-digitalStamp-sm-text nds-truncate" id="small-screen-text">Government website registered with DGA</span>
        <span id="nds-digitalStamp-verify-text" class="nds-link nds-primary">How you know?</span>
    </button>
</div>
<div id="nds-digitalStamp" role="region" aria-label="Digital government stamp" style="display:none">
    <div class="nds-content-wrapper">
        <div class="nds-digitalStamp-notices">
            <!-- gov Links Notice -->
            <div class="nds-digitalStamp-card">
                <div class="nds-digitalStamp-icon">
                    <i class="nds-icon nds-hgi-link-04" aria-hidden="true"></i>
                </div>
                <div class="nds-digitalStamp-content">
                    <div class="nds-digitalStamp-heading" id="domain-title">
                        Official Saudi Government website URL ends with <span class="nds-digitalStamp-highlight">gov.sa</span>
                    </div>
                    <div class="nds-digitalStamp-description" id="domain-desc">
                        Website belongs to an official government organization in the Kingdom of Saudi Arabia always ends with .gov.sa .
                    </div>
                </div>
            </div>
            <!-- HTTPS Security Notice -->
            <div class="nds-digitalStamp-card">
                <div class="nds-digitalStamp-icon">
                    <i class="nds-icon nds-hgi-square-lock-01" aria-hidden="true"></i>
                </div>
                <div class="nds-digitalStamp-content">
                    <div class="nds-digitalStamp-heading" id="https-title">
                        Official Secure websites use <span class="nds-digitalStamp-highlight">HTTPS</span>
                    </div>
                    <div class="nds-digitalStamp-description" id="https-desc">
                        Secured governments websites in the Kingdom of Saudi Arabia use Https encryption.
                    </div>
                </div>
            </div>
        </div>
        <div class="nds-digitalStamp-register">
            <img src="assets/img/dga-logo-icon.svg" width="21" height="31"
                alt="هيئة الحكومة الرقمية" loading="lazy">
            <div>
                <span id="register-text">
                    Registered on Digital Government Authority:
                </span>
                <a class="nds-digitalStamp-registration nds-primary nds-underline nds-link"
                    href="#"
                    target="_blank">00000000000</a>
            </div>
        </div>
    </div>
</div>
